<header>
  <nav>
    <div class="nav-wrapper">
      <% if @player %>
        <a class="username">Welcome,
          <%= @player.first_name %>!</a>
      <% end %>
      <ul class="right">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Help', help_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <% if @player %>
          <li>
            <a class="dashboard-trigger" data-activates="dashboard">
              Dashboard
            </a>
          </li>
          <!-- Account Dropdown Structure -->

          <li>
            <a class='account-link dropdown-button' href='' data-activates='header-account-dropdown'>
              <i class="material-icons left">account_circle</i>Account
            </a>
            <ul id='header-account-dropdown' class='dropdown-content'>
              <li>
                <a href="#!">Profile</a>
              </li>
              <li>
                <a href="#!">Settings</a>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to logout_path, :method => :delete do %>
                  <i class="material-icons left">backspace</i>Logout
              <% end %>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
</header>
